html, body {height:100%; margin: 0; padding: 0; }

html>body {
    font-size: 16px; 
    font-size: 68.75%;
    width: 100%; 
    height: 100%; 
} /* Reset Base Font Size */

body {
    font-family: Verdana, helvetica, arial, sans-serif;
    font-size: 68.75%;
    background: #fff;
    color: #333;
}

h1, h2 { font-family: verdana, arial; padding: 10px; margin: 0 }
h1 { font-size: large }

.active { font-weight: bold; background: #9999ff; }
.pinned { font-style: italic; }

img.favicon { width: 12px; height: 12px; vertical-align: middle; }

a img { border: none; }
